/* generic css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* generic css */

/* misc */
header {
    background-color: #EF6905;
    margin-bottom: 2em;
    box-shadow: 0px 0px 4px 0px;
}

footer {
    margin-top: 3em;
    background-color: #1A1A1A;
    height: 100px;
}

.container-boxed {
    max-width: 800px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

/* misc */

/* header */
.header-container {
    min-height: 50px;

}

.header-category {
    width: 20%;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-logo-container {
    width: 60%;
    justify-content: center;
    align-items: center;
}

.header-icons {
    width: 20%;
    color: white;
    justify-content: flex-end;
    align-items: center;
}

.logo-size {
    height: 25px;
}

/* header */

/* grid & cards */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    flex: 0 0 calc(33.333% - 0.666667rem);
    position: relative;
}

.card>img {
    width: 100%;

}

.brand-name {
    font-size: 12px;
}

.clothing-name {
    font-size: 12px;
}

.price {
    font-size: 12px;
    color: red;
}

/* grid & cards */


/* labels */
.favorite-label {
    background-color: white;
    padding: 5px 8px 5px 8px;
    position: absolute;
    top: 8px;
    right: 0px;
}

.discount-label {
    color: white;
    font-size: 14px;
    background-color: red;
    padding: 3px 8px;
    position: absolute;
    bottom: 80px;
}

.discount-eco-label {
    color: white;
    font-size: 14px;
    background-color: green;
    padding: 3px 8px;
    position: absolute;
    bottom: 80px;
    left: 52px;
}

.eco-label {
    color: white;
    font-size: 14px;
    background-color: green;
    padding: 3px 8px;
    position: absolute;
    bottom: 80px;
}

/* labels */